<%provide(:title,"About")%>
<h1>About</h1>
	<p>
		The <a href="https://github.com/lvyifanlvlv/PointCounter"><em>Counter App </em></a> is the final work for Lv Yifan,Niu Haihang and Wu Yanzhang.
		
		<br>This is the point counter application for the final work.
	</p>


