<%provide(:title,"About")%>
<h1>关于荧光颗粒计数平台</h1>
	<p>
		分析化学领域研究中，对于微观粒子进行荧光标记、光学成像，后对影像中微观粒子进行计数是一项重要的日常工作。现今的计数方法通常为人工计数法，实验人员直接观察光学影像对其中粒子手动计数，除耗时巨大、浪费人工之外，还存在着效率低下，准确率低的问题。
		<br>
		现今，机器学习在图像识别领域的应用研究相对成熟，本项目采用机器学习的方法建立一种荧光粒子自动化计数的模式，代替原有的人工计数法,将很大程度上降低实验人员的工作量，缩短实验时间，并使得计数结果更加准确。
		<br>
		<br>
		
		
		
	</p>


