<%provide(:title,"Help")%>
<h1>帮助</h1>
	<p>
		首先您需要注册一个账户，来使用这个app。
		<br>
		登录以后，填入课题组名称、姓名、项目名称(这三个是可选项，可以不填写)，然后选择上传需要计数的图片，点击上传。即可在主界面看到自己上传的图片，然后点击提交按钮即可通过后台程序进行计数。
		<br>
		计数的结果将在一个新的页面显示出来。
		<br>


		如果需要其它帮助，请通过访问我们的
		  <a href="https://github.com/lvyifanlvlv/PointCounter"> github地址</a>在里面留言来联系我们.
		  <br>
		  或者发送邮件到我的邮箱：<a hred="niuhaihang@mails.ucas.ac.cn">niuhaihang18@mails.ucas.ac.cn</a>.
		

	</p>


