<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="../js/echarts.js"></script>
    <script src="../js/jquery-3.3.1.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->

    <form action="/111" method="post">
        <h1>INPUT A</h1>
        <input type="text" name="usrname"><br>
        <h1>INPUT B</h1>
        <input type="text" name="groupname">B:<br>
        <h1>INPUT C</h1>
        <input type="text" name="projectname">C:<br>
        <input type="submit" value="submit">
    </form>

</body>
</html>