<li id="<%= counter.id %>">
 <span >
 	<%= counter.content %>
    <%= image_tag counter.picture.url, id: "imgtarget" if counter.picture? %>
  </span>
  <br>
  <span class="delete">
    <% if current_user?(counter.user) %>
      <%= link_to "delete", counter, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>

</li>
<body>
	<script type="text/javascript">
		console.log($("#imgtarget").attr("src"));
		$(document).ready(function(){
	$("button").click(function(){
		$.ajax({
			url: "/111",
			method: "POST",
			data: {
				"img":$("#imgtarget").attr("src")
			},
			success: function(){

			},
			error: function(){

			}
		});
		// $.post("/try/ajax/demo_test_post.php",{
		
		// 	aaa:counter.picture.url
		// 	console.log("aaa")
		// },
		// function(data,status){
		// 	alert("数据: \n" + data + "\n状态: " + status);
		// });
	});
});
	</script>
</body>
<button >提交</button>